/* WebPage Text Font and Cursor Properties */
* {
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}

/*Intro Page Text Alignment*/
#intro-page {
    text-align: center;
}

/* "Start Quiz" Button Properties */
.start-quiz {
    padding: 30px;
    background-color: rgb(34, 138, 77);
    color: white;
    border-radius: 30px;
    width: max-content;
}

/* "Start Quiz" Button Hovering Background Color */
.start-quiz:hover {
    background-color: #07f653;
}

/*Distance Between Header Text And "Intro Page" Text and Button*/
header {
    height: 70px;
}

/* Quiz Timer Location Properties */
#quiz-timer {
    float: right;
    padding: 20px;
}

/* Questions Page Styling Properties*/

/* Text Alignment and Margin Settings For Quiz Questions And Multiple Choice Selections */
.quiz-questions {
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    display: none;
}

/* Margin and Spacing Properties for <h3> (Quiz Questions And Multiple Choice Selections In Our Case) */
.ask {
    margin: 5px;
    height: 50px;
}

/* Multiple Choice Selections Button Display (Length) And Padding Properties */
#choices {
    display: inline-block;
    padding: 5px;
}

/* Multiple Choice Selections Button Properties */
.choice1, .choice2, .choice3, .choice4 {
    display: block;
    width: 100%;
    padding: 5px;
    background-color: rgb(34, 138, 77);
    color: white;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* Multiple Choice Selections Button Hover Background Color */
.choice1:hover, .choice2:hover, .choice3:hover, .choice4:hover {
    background-color: #07f653;
}

/* Properties For Correct (If Question Was Answered Correctly) and Wrong (If Question Was Answered Incorrectly) Display */
/* After Each Question */
.correct, .wrong {
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25px;
    color: black;
    display: none;
}